body {
	font: normal 1em verdana, arial, helvetica, sans-serif;
}

aside {
	width: 160px;
	font-size: 12px;
	line-height: 30px;
	color: #058;
	background-color: #D5E3EA;
}

aside h2 {
	color: #fff;
	background-color: #5392B1;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmYiIHN0cm9rZS13aWR0aD0iMi40IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWFycm93LWRvd24tcmlnaHQiPjxwYXRoIGQ9Im03IDcgMTAgMTAiLz48cGF0aCBkPSJNMTcgN3YxMEg3Ii8+PC9zdmc+");
	background-repeat: no-repeat;
	background-position: left 6px top 6px;
	border-radius: 8px 8px 0 0;

	padding: 0 0 0 30px;
	text-transform: lowercase;
	color: #fff;
	font-size: 18px;
	font-weight: normal;
	margin: 0;
}

details {
	background: #f1f7fa;
}

details summary {
	background-color: #D5E3EA;
	font-weight: bold;
	padding: 0 20px 0 10px;
	list-style: none;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMwMDU4ODEiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jaGV2cm9uLXJpZ2h0Ij48cGF0aCBkPSJtOSAxOCA2LTYtNi02Ii8+PC9zdmc+");
	background-position: right 2px top 6px;
	background-repeat: no-repeat;
	cursor: pointer;
}
details details summary {
	font-weight: normal;
	padding-inline-start: 20px;
}

details ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

aside a {
	font-weight: bold;
	display: block;
	padding: 0 10px;
	color: #058;
	text-decoration: none;
}
aside details a {
	font-weight: normal;
	padding-inline-start: 20px;
	border-bottom: 1px solid #eee;
}
aside details details a {
	padding-inline-start: 40px;
}

aside a:hover, summary:hover {
	color: #E96D25;
}
aside a:hover {
	background: linear-gradient(#999, #fff 20%) repeat-y;
}


[open] > summary {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMwMDU4ODEiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jaGV2cm9uLWRvd24iPjxwYXRoIGQ9Im02IDkgNiA2IDYtNiIvPjwvc3ZnPg==");
}
