@import url('base.css');

div#container {
	width: 80%;
	margin: 2em auto;
}

input {
	margin: 5px 50em 5px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 4px;
}

:required {
	box-shadow: 0 2px 4px -2px #009;
}
:optional {
	color: #999;
}

:focus:valid {
	box-shadow: 0 0 4px #090;
}

:focus:invalid {
	box-shadow: 0 0 4px #900;
}