@import url('base.css');

div#container {
	width: 80%;
	margin: 2em auto;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: auto;
	clear: both;
}

	nav ul li {
		display: block;
		float:  left;
		font-weight: bold;
		line-height: 2;
		margin: 0;
		background: #069;
		color: #fff;
		padding: 0;
		border: 1px solid #333;
		border-width: 1px 0;
		width: 10em;
		text-align: center;
	}

	nav ul li:first-child {
		border-radius: 4px 0 0 4px;
		border-left-width: 1px;
	}
	nav ul li:last-child {
		border-radius: 0 4px 4px 0;
		border-right-width: 1px;
	}

	nav ul li.selected ~ li {
		background-color: #ccc;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));
		background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
		background-image:    -moz-linear-gradient(top, #eeeeee, #cccccc);
		background-image:      -o-linear-gradient(top, #eeeeee, #cccccc);
		background-image:         linear-gradient(to bottom, #eeeeee, #cccccc);

		color: #333;
		border-color: #aaa;
	}

	nav ul li.selected {
		position: relative;
	}
		nav ul li.selected:after, nav ul li.selected:before {
			width: 0;
			line-height: 0;
			content: '\00a0';
			position: absolute;
			top: 0;
			right: -0.9em;
			text-indent: 2em;
			overflow: hidden;
			border: 1em solid transparent;
			border-left-color: #069;
			border-right-width: 0;
		}
		nav ul li.selected:before {
			right: -1em;
			border-left-color: #333;
		}

		nav ul li:last-child:after, nav ul li:last-child:before {
			border: 0 !important;
		}

/* GRADIENT EXPERIMENT */
	nav.gradient ul li {
		background-color: #069;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#2288BB), to(#006699));
		background-image: -webkit-linear-gradient(top, #2288BB, #006699);
		background-image:    -moz-linear-gradient(top, #2288BB, #006699);
		background-image:      -o-linear-gradient(top, #2288BB, #006699);
		background-image:         linear-gradient(to bottom, #2288BB, #006699);

		border-color: #aaa;
	}
	nav.gradient ul li.selected ~ li {
		background: #ccc;
	}

		nav.gradient ul li.selected:after, nav.gradient ul li.selected:before {
			width: 0;
			line-height: 0;
			content: '\00a0';
			position: absolute;
			top: 0;
			right: 0;
			text-indent: 2em;
			overflow: hidden;
			border: 1em solid #ccc;
			border-left-color: transparent;
			border-right-width: 0;
		}
		nav.gradient ul li.selected:before {
			right: 1px;
			border-top-color: #333;
			border-bottom-color: #333;
		}
